---
layout: archive
title: "Videos"
permalink: /videos/
author_profile: true
---

{% include base_path %}

<div class="embed-youtube">
{% include youtubePlayer.html id="x2fGi_e_Iko" %}
</div>

When, why and how tumour clonal diversity predicts survival (ISMB, July 2020). Duration 7 minutes.

&nbsp;

&nbsp;

<div class="embed-youtube">
{% include youtubePlayer.html id="WtU4Od9sf-w?start=45" %}
</div>

Spatial structure governs the mode of tumour evolution (ISMB/ECCB, August 2019). Duration 11 minutes.

&nbsp;

&nbsp;

<div class="embed-youtube">
{% include youtubePlayer.html id="lKk3TXwCHYw?start=780" %}
</div>

Characterizing and forecasting tumour evolution (Virtual Seminar on Modeling Biocomplexity, June 2020). Begins at 13 minutes; duration 45 minutes plus questions.

&nbsp;

&nbsp;

<div class="embed-youtube">
{% include youtubePlayer.html id="AsbpqCVRDc0?start=0" %}
</div>

<div class="embed-youtube">
{% include youtubePlayer.html id="Kwvaa7jKp7U?start=0" %}
</div>

The logic of containing tumours (SMB, August 2020). Two parts, total duration 21 minutes.
